{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3 class="text-dark mb-4">샤인머스캣 목록</h3>
    <div class="row">
        {% for product in shine_muscats %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">₩{{ product.price }}</p>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">자세히 보기</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
