{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3 class="text-dark mb-4">샤인머스캣 - 상세 정보</h3>
    <div class="row">
        <div class="col-lg-6">
            <img src="{{ shine_muscat.image.url }}" class="img-fluid" alt="샤인머스캣">
        </div>
        <div class="col-lg-6">
            <h4>샤인머스캣</h4>
            <p>1kg 당 ₩{{ shine_muscat.price }}</p>
            <p>판매자: {{ shine_muscat.seller }}</p>
            <p>{{ shine_muscat.description }}</p>
            <form method="post" action="{% url 'add_to_cart' shine_muscat.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="quantity">수량</label>
                    <input type="number" id="quantity" name="quantity" class="form-control" value="1" min="1">
                </div>
                <button type="submit" class="btn btn-primary">장바구니에 추가</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
