{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>구매 기록</h2>
    <table class="table">
        <thead>
            <tr>
                <th>상품명</th>
                <th>수량</th>
                <th>총 가격</th>
                <th>구매 날짜</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.product.name }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.total_price }}원</td>
                <td>{{ order.date_ordered }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
