<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Category - 그린옥션</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>
<body id="page-top">
    <div id="wrapper">
        <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>그린옥션</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/index.html"><i class="fas fa-tachometer-alt"></i><span>타임세일</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/login.html"><i class="far fa-user-circle"></i><span>로그인</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/profile.html"><i class="fas fa-user"></i><span>내정보</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/table.html"><i class="fas fa-user-circle"></i><span>판매자 랭킹</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/register.html"><i class="fas fa-table"></i><span>장바구니</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="/category.html"><i class="fas fa-window-maximize"></i><span>카테고리</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light">
                    <div class="container-fluid">
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-bell fa-fw"></i></a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in"><h6 class="dropdown-header">알림 센터</h6></div>
                            </li>
                        </ul>
                    </div>
                </nav>
                
                <div class="container">
                    <h3 class="text-dark mb-4">카테고리 선택</h3>
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card text-white bg-primary shadow">
                                <div class="card-body text-center">
                                    <a href="/strawberries.html" class="text-white"><i class="fas fa-seedling fa-2x"></i><p>딸기</p></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card text-white bg-success shadow">
                                <div class="card-body text-center">
                                    <a href="/shine-muscat.html" class="text-white"><i class="fas fa-grapes fa-2x"></i><p>샤인머스캣</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright">
                    <span>Copyright © 그린옥션 2024</span>
                </div>
            </div>
        </footer>
        
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
</body>
</html>
